/*--header--*/


header {
    background: #004c8f;
    align-items: center;
}

nav.header_container__navbar_block {
    background: #fff;
    height: 120px;
    border-bottom: 1px solid #dadada;
    text-align: center;
    box-shadow: 0 4px 3px rgba(0,33,59,.1);
}

.logo_container__text_up {
    margin-top: .25rem;
    text-indent: 1.2rem;
    letter-spacing: -.05rem;
    color: #000;
    font-weight: 500;
    font-size: 1.65rem;
    margin-bottom: -.5rem;
    margin-top: .5rem;
}

.logo_container__text_down {
    text-indent: 1.2rem;
    letter-spacing: -.01rem;
    font-size: 1.25rem;
    color: #646464;
}

.logo_container__logo {
    height: 80px;
}

.navbar-right {
    margin-left: 26rem;
    margin-top: -4rem;
}

@media (min-width: 768px) {
    .navbar-right {
        margin-left: 37rem;
        margin-top: -4rem;
    }
}

@media (min-width: 992px) {
    .navbar-right {
        margin-left: 37rem;
        margin-top: 0px;
    }
}

@media (min-width: 1200px) {
    .navbar-right {
        margin-left: 52rem;
        margin-top: 0px;
    }
}

.header-login {
    margin-left: .5rem
}

.btn-secondary {
    border-color: #fff
}
/*footer*/
/*.footer_nav {
    background-color: #183650;
}*/

.footer_nav__copyRight {
    color: #FFF;
    height: 5rem;
}

.footer {
    background-color: #183650;
    margin-top: 2rem
}

/*body*/
html, body {
    height: 84.65%;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100%;
}

/*.border_block {
    border: 1px solid #ddd;
    margin: 0.5rem;
}*/

.border_row {
    border: 1px solid #ddd;
    margin: 0.5rem;
}

.inputs-color {
    display: block;
    width: 50%;
    /*padding: .5rem .75rem;*/
    margin-top: .5rem;
    font-size: 1rem;
    line-height: 1.25;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.right_input_block {
    font-weight: 600;
    font-size: 1.05rem;
}

.header-img {
    width: 2rem;
}

.clock_img {
    width: 2.5rem;
}

#timer {
    text-align: center;
    width: 4rem;
}

.general_area {
    height: 690px;
}

.mine_img {
    width: 4rem;
}

.cancellaction-button {
    margin-left: 1rem;
}

#mine {
    text-align: center;
    width: 3rem
}

.tab-content {
    margin-top: 1rem;
}

.status_game {
    text-align: center;
}

th, td {
    text-align: center;
}
